<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=PT+Serif:ital,wght@1,700&family=Poltawski+Nowy:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>


  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
  <link href="{{url_for('static', filename = 'assets/css/form_style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/css/style.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <a class = "logo1" href="/home"><span>PayFo</span></a>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="#about">Project</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
     
      <h2>Unleashing digital tranquility by safeguarding your transactions from </br>the lurking shadows of online payment fraud</h2>
    </div>
  </section> -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="hero">
      

      <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>To Predict payment fraud</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" action="/pred", method="POST">

                            <div class="col-md-12">
                               <input class="form-control" type="number" name="step" id="step"  placeholder="step: represents a unit of time (1 - 1 hour)" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="type" id="type"  placeholder="type of online transaction" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="amount" min=5 max=15 step=0.000001 id="amount"  placeholder="the amount of the transaction" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="oldbalanceOrg" min=1000 max=7500000 step=0.01 id="oldbalanceOrg"  placeholder="balance before the transaction" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="newbalanceOrig" min=0 max=500000 step=0.01 id="newbalanceOrig"  placeholder="balance after the transaction" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="oldbalanceDest" min=0 max=6500000 step=0.01 id="oldbalanceDest"  placeholder="initial balance of recipient before the transaction" required="required">

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="newbalanceDest" min=0 max=7500000 step=0.01 id="newbalanceDest"  placeholder="the new balance of recipient after the transaction" required="required">

                            </div>                      

                                                      

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Predict</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
 
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>

  <!-- <script src="assets/vendor/aos/aos.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/aos/aos.js')}}"></script>

  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- <script src="assets/vendor/glightbox/js/glightbox.min.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/glightbox/js/glightbox.min.js')}}"></script>

  <!-- <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

  <!-- <script src="assets/vendor/swiper/swiper-bundle.min.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

  

  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="{{url_for('static', filename = 'assets/js/main.js')}}"></script>

</body>

</html>